.article{
	height: 900px;
	grid-template-rows: 1fr 1fr;
	display: grid;
	grid-gap: 5px;
}
.menu{
	grid-template-columns: 1fr 1fr 1fr;
	display: grid;
	height: 75px;
	grid-gap: 10px;
	margin-right: 25px;
}
.header{
	border: 2px black solid;
	margin-right: 25px;
	margin-left: 40px;
}
.showcase{
	background-image: url(../images/article1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 700px;
}
.article{
	margin-top: 10px;
	background-image: url(../images/article2.png);
	background-repeat: no-repeat;
	height: 450px;
	background-size: cover;
}
p{
	text-align: justify;
	margin: 10px;
	size: 25px;
}
h1{
	text-align: center;
}
a{
	text-decoration: none;
}
li{
	border: 2px black solid;
	color: black;
	padding: 20px;
	list-style: none;
	text-align: center;
}
li:hover{
	background: black;
	color: white;
	border: 2px black solid;
}
.article{
	border: 2px black solid;
}
